body {
    background-color: #e9e9e9 !important;
}

.user_profile_sec {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.add-btn a {
    border: none;
    background-color: transparent !important;
    color: white !important;
}

.add-btn a:hover {
    border: none;
}

.add-btn span {
    color: rgb(50, 50, 50) !important;
    font-size: 1.75rem !important;
}

.add-btn span a {
    color: rgb(50, 50, 50) !important;
    font-size: 1.75rem !important;
}

.add-btn span a:hover {
    color: rgb(0, 0, 0) !important;
    font-size: 1.75rem !important;
}

.add-btn .follow_unfollow_btn {
    background-color: #316FF6;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .875rem;
    padding-right: .875rem;
    color: white;
    font-size: 1.125rem;
    border-radius: .625rem;
    transition: .3s;
    cursor: pointer;
}

.add-btn .follow_unfollow_btn:hover {
    background-color: #0051ff;
}

.pic_bio_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pic_bio_name img {
    width: 250px;
    height: 250px;
    border-radius: 3rem;
}

.pic_bio_name h5 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: rgb(50, 50, 50);
}

.bio {
    border: 0;
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
    font-size: 1.125rem;
}