body {
    background-color: #f1f1f1 !important;
}

.user_profile_sec {
    display: flex;
    flex-direction: row;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.add-btn a {
    border: none;
    background-color: transparent !important;
    color: white !important;
}

.add-btn a:hover {
    border: none;
}

.add-btn span {
    color: rgb(50, 50, 50) !important;
    font-size: 1.75rem !important;
    text-transform: capitalize;
}

.add-btn span a {
    color: rgb(50, 50, 50) !important;
    font-size: 1.75rem !important;
}

.add-btn span a:hover {
    color: rgb(0, 0, 0) !important;
    font-size: 1.75rem !important;
}

.add-btn .follow_unfollow_btn {
    background-color: #316FF6;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .875rem;
    padding-right: .875rem;
    color: white;
    font-size: 1.125rem;
    border-radius: .625rem;
    transition: .3s;
    cursor: pointer;
}

.add-btn .follow_unfollow_btn:hover {
    background-color: #0051ff;
}

.pic_bio_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pic_bio_name img {
    width: 250px;
    height: 250px;
    border-radius: 90rem;
}

.pic_bio_name .user_name {
    margin-left: 1.5rem;
}

.pic_bio_name h5 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: rgb(50, 50, 50);
    margin-bottom: 1rem;
}

.bio {
    border: 0;
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
    font-size: 1.125rem;
}

.central-meta {
    box-shadow: none !important;
    border-radius: 2rem;
}

.central-meta img {
    border-radius: 1.5rem;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 425px) {

    .add-btn {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 12.5rem;
        align-items: flex-end;
        justify-content: center;
        padding-left: 3rem !important;
    }

    .add-btn span {
        font-size: 1.125rem !important;
    }

    .add-btn span a {
        font-size: 1.125rem !important;
    }

    .add-btn a {
        margin: 0;
        padding: 0;
    }

    .add-btn .follow_unfollow_btn {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .625rem;
        padding-right: .625rem;
        font-size: .875rem;
    }

    .pic_bio_name {
        display: block;
    }

    .pic_bio_name img {
        width: 175px;
        height: 175px;
    }

    .pic_bio_name h5 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .bio {
        display: flex;
        flex-direction: row;
    }

    .bio .bio_h6 {
        margin-right: .5rem;
    }
}