body {
    background-color: #f1f1f1 !important;
}

.logo {
    color: black;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 9rem;
    background-color: white;
    box-shadow: 0px 1px 7px rgba(200, 200, 200, 0.7);
}

.error_msg {
    text-align: center;
    margin-bottom: 1rem;
    color: red;
}

.inpt_box {
    border: 1px solid rgb(191, 191, 191) !important;
    margin-bottom: .625rem;
    border-radius: .625rem !important;
    color: black !important;
}

input:focus {
    border: 1px solid black !important;
}

.signup_btn {
    background-color: black;
    border-radius: .625rem !important;
    transition: .3s;
}

.signup_btn:hover {
    background-color: rgb(25, 25, 25);
}

.login_page_btn {
    margin-top: 2rem;
}

.login_page_btn p {
    font-size: 1.125rem !important;
}

.login_btn {
    color: #222;
}

.copyright {
    text-align: center;
    margin-top: 9rem;
}