{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
	<title>Profile - @{{user_profile.user.username}}</title>
</head>

<body>
	<section class="user_profile_sec">
		<div class="feature-photo">
			<form action="/follow" method="POST">
				{% csrf_token %}
				<div class="add-btn">
					<span>
						<b><a href="/">Home</a></b>
					</span>
					{% if user_post_length == 0 %}
					<span><b>No Post</b></span>
					{% elif user_post_length == 1 %}
					<span><b>{{user_post_length}} Post</b></span>
					{% else %}
					<span><b>{{user_post_length}} Posts</b></span>
					{% endif %}
					{% if user_followers == 0 or user_followers == 1 %}
					<span><b>{{user_followers}} follower</b></span>
					{% else %}
					<span><b>{{user_followers}} followers</b></span>
					{% endif %}
					<span><b>{{user_following}} following</b></span>
					<input type="hidden" value="{{user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />
					{% if user_object.username == user.username %}
					<a href="/settings" data-ripple="">Account Settings</a>
					{% else %}
					<a data-ripple="">
						<button class="follow_unfollow_btn" type="submit">{{button_text}}</button>
					</a>
					{% endif %}
				</div>
			</form>
			<div class="container-fluid">
				<div class="pic_bio_name">
					<div class="user_avater">
						<img src="{{user_profile.profileimg.url}}" alt="">
					</div>
					<div class="user_name">
						<h5>
							<b>{{user_profile.user.username}}</b>
						</h5>
						<div class="bio">
							<h6><b>{{user_profile.bio}}</b></h6>
							<h6><b>{{user_profile.location}}</b></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="gap">
			<div class="container-fluid">
				<div class="central-meta">
					<ul class="photos">
						{% for post in user_posts %}
						<li>
							<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup">
								<img src="{{post.image.url}}" alt="">
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>

</html>