{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search - WallpaperShare.Com</title>
</head>

<body>
    <form action="search" method="POST">
        {% csrf_token %}
        <header>
            <div class="header_inner">
                <div class="left-side">
                    <input class="shadow-none" type="text" name="username" placeholder="Search For Username...">&nbsp;
                    &nbsp;
                    <button type="submit"><i class="fa fa-search fa-1x"></i></button>
                </div>
                <div class="right-side lg:pr-4">
                    <a href="#">
                        <img src="{{ user_profile.profileimg.url }}" class="header-avatar" alt="">
                    </a>
                    <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                        <ul>
                            <li><a href="/settings"> Account setting </a> </li>
                            <li><a href="/logout"> Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </form>
    <div class="search_result_item_div">
        <div class="container">
            <div class="row ng-scope">
                <div class="col-md-9 col-md-pull-3">
                    {% for users in username_profile_list %}
                    <div class="search-result-item">
                        <a class="image-link" href="/profile/{{users.}}">
                            <img class="image" src="{{users.profileimg.url}}">
                        </a>
                        <div class="search-result-item-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h4 class="search-result-item-heading"><a
                                            href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
                                    <p class="info">{{users.location}}</p>
                                    <p class="description">{{users.bio}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
</body>

</html>